* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

a, button {
  all: unset;
}

ul, li {
  list-style-type: none;
}

body {
  overflow-x: hidden;
  width: 100%;
}

:root {
  --white: #fff;
  --accent-color: #FF9900;
  --icon-color-1: #7752BE;
  --icon-color-2: #FAB005;
  --icon-color-3: #F03E3D;
  --icon-color-4: #4DADF7;
  --title-color: #2F281E;
  --text-color: #544837;
  --btn-text-color: #173A56;
  --btn-stroke-color: #BCD0E5;
  --main-font: "Poppins", sans-serif;
  --s-x-small: 14px;
  --s-small: 16px;
  --s-normal: 18px;
  --s-medium: 22px;
  --s-large: 36px;
  --s-x-large: 44px;
  --w-regular: 400;
  --w-medium: 500;
  --w-semi-bold: 600;
  --w-bold: 700;
}

.btn-primary {
  background-color: var(--accent-color);
  padding: 12px 24px;
  border-radius: 4px;
  color: var(--white);
  font-weight: var(--w-semi-bold);
}

.btn-secondary {
  background-color: var(--white);
  padding: 12px 24px;
  border-radius: 4px;
  color: var(--btn-text-color);
  font-weight: var(--w-semi-bold);
  border: 1px solid var(--btn-stroke-color);
}

.btn-text {
  background-color: var(--white);
  padding: 12px 24px;
  color: var(--accent-color);
  text-decoration: underline;
  font-weight: var(--w-semi-bold);
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 20px;
  top: 0;
  background-color: var(--white);
  display: flex;
  justify-self: center;
  justify-content: space-between;
  width: 100%;
  height: 78px;
  max-width: 1112px;
  z-index: 3;
}
.navigation__logo {
  align-self: center;
}
.navigation__links {
  display: flex;
  gap: 40px;
  align-self: center;
}
.navigation__links__text {
  display: flex;
  gap: 28px;
  align-items: center;
}
.navigation__link {
  font-size: var(--s-x-small);
  font-weight: var(--w-regular);
  color: var(--title-color);
  text-transform: capitalize;
}
.navigation__btn {
  margin-left: 14px;
  text-transform: capitalize;
}

.header {
  width: 100%;
  max-width: 1126px;
  position: relative;
  top: 98px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
}
.header__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header__left-title {
  font-size: var(--s-x-large);
  color: var(--title-color);
  font-weight: var(--w-bold);
  line-height: 54px;
}
.header__left-text {
  font-size: var(--s-normal);
  color: var(--text-color);
  font-weight: var(--w-regular);
  line-height: 28px;
}
.feature {
  position: relative;
  top: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature__title {
  text-align: center;
  font-size: var(--s-large);
  font-weight: var(--w-bold);
  color: var(--title-color);
  line-height: 54px;
}
.feature__card-container {
  max-width: 1095px;
  display: flex;
  justify-content: center;
  gap: 46px;
  padding-top: 54px;
}
.feature__card {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.feature__card__icon {
  width: 50px;
  height: 50px;
}
.feature__card__title {
  font-size: var(--s-medium);
  font-weight: var(--w-semi-bold);
  color: var(--title-color);
  text-align: left;
  line-height: 33px;
  padding-top: 30px;
}
.feature__card__text {
  font-size: var(--s-small);
  font-weight: var(--w-regular);
  color: var(--text-color);
  text-align: left;
  line-height: 26px;
  padding-top: 12px;
}
.feature__btn {
  text-transform: uppercase;
  margin-top: 34px;
}/*# sourceMappingURL=styles.css.map */